<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex">
    <div class="container hero-inner">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center text-start  pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div class="text-left">
            {% if page.hero.subHeading != "" %}<h6 class="text-uppercase">{{ page.hero.subHeading }}</h6>{% endif %}
            <h1>{{ page.hero.heading }}</h1>
            {% if page.hero.text != "" %} <p>{{ page.hero.text  }}</p> {% endif %}
            {% if page.hero.btnText != "" %} <a href="{{ page.hero.btnUrl }}" class="btn">{{ page.hero.btnText }}</a>{% endif %}
          </div>
        </div>
        {% if page.hero.image != "" %} <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="{{ page.hero.image }}" class="img-fluid" alt="">
        </div>
        {% endif %}
      </div>
    </div>
  </section><!-- End Hero -->